<div fxLayout="row" fxLayoutAlign="start center">

    <mat-icon class="handle mr-16" ngxDragHandle fxFlex="0 1 auto" fxHide.xs>
        drag_handle
    </mat-icon>

    <mat-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()"
                  class="mr-16" fxFlex="0 1 auto" (click)="$event.stopPropagation()">
    </mat-checkbox>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <div class="info" fxFlex fxFlexLayout="column">

            <div class="title">
                {{todo.title.patronName}}
            </div>

            <div class="notes">
                {{todo.notes}}
            </div>

            <div class="tags" fxLayout="row wrap" fxLayoutAlign="start center">

                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of todo.tags">
                    <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>
                    <div class="tag-label">{{tags | getById:tagId:'Title'}}</div>
                </div>

            </div>

        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button (click)="toggleImportant($event)"
                    aria-label="Toggle important" fxHide.xs>
                <mat-icon class="green-fg" *ngIf="todo.important">directions_walk</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.important">directions_walk</mat-icon>
            </button>

            <button mat-icon-button (click)="toggleStar($event)"
                    aria-label="Toggle star" fxHide.xs>
                <mat-icon class="green-fg" *ngIf="todo.starred">check_box</mat-icon>
                <mat-icon class="secondary-text" *ngIf="!todo.starred">check_box_outline_blank</mat-icon>
            </button>

        </div>

    </div>

</div>
