<!-- SIDENAV HEADER -->
<div fxLayout="column" fxLayoutAlign="space-evenly start"
     class="header p-24 pb-4" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">schedule</mat-icon>
        <span class="logo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Appointments</span>
    </div>

    <div class="account" fxLayout="column" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms'}}">
        
        <mat-form-field fxFlex>
            <mat-datepicker-toggle matSuffix [for]="apptDatePicker" required></mat-datepicker-toggle>
            <mat-datepicker #apptDatePicker required></mat-datepicker>
            <input matInput (ngModel)="appointmentsDate" [matDatepicker]="apptDatePicker" placeholder="Select a date"
            (dateChange)="updateAppointments($event)">
        </mat-form-field>
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="p-24">
        <button mat-raised-button
                class="mat-accent add-todo-button w-100-p"
                (click)="newTodo()"
                aria-label="NEW APPOINTMENT">
            New Appointment
        </button>
    </div>

    <div class="nav">

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/company/' + companyId + '/appointments/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Current Appointments</span>
            </a>
        </div>

        <div class="nav-subheader">LOCATIONS</div>

        <div class="nav-item" *ngFor="let filter of filters">
            <a class="nav-link" matRipple [routerLink]="'/company/'+ companyId + '/appointments/filter/' + filter.Id" routerLinkActive="active">
                <mat-icon class="nav-link-icon" *ngIf="filter.icon">{{filter.Icon}}</mat-icon>
                <span>{{filter.Title}}</span>
            </a>
        </div>

        <div class="nav-subheader">DOCTORS</div>

        <div class="nav-item" *ngFor="let tag of tags">
            <a class="nav-link" matRipple [routerLink]="'/company/'+ companyId +'/appointments/tag/' + tag.Id" routerLinkActive="active">
                <mat-icon class="nav-link-icon" [ngStyle]="{'color':tag.Color}">label</mat-icon>
                <span>{{tag.Title}}</span>
            </a>
        </div>

    </div>

</div>
<!-- / SIDENAV CONTENT -->
