<div id="register" fxLayout="column" fusePerfectScrollbar>

  <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="register-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="logo">
              <img src="assets/images/logos/inviq.svg">
          </div>

          <div class="title">CREATE AN ACCOUNT</div>

          <form name="registerForm" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(registerForm.value)">

              <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstName">
                  <mat-error *ngIf="registerFormErrors.firstName.required">
                      First Name is required
                  </mat-error>
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastName">
                  <mat-error *ngIf="registerFormErrors.lastName.required">
                      Last Name is required
                  </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Phone Number" formControlName="primaryPhone">
                <mat-error *ngIf="registerFormErrors.primaryPhone.required">
                    Primary Phone is required
                </mat-error>
            </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="registerFormErrors.email.required">
                      Email is required
                  </mat-error>
                  <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                      Please enter a valid email address
                  </mat-error>
              </mat-form-field>

              <mat-form-field>
                  <input matInput type="password" placeholder="Password" formControlName="password">
                  <mat-error *ngIf="registerFormErrors.password.required">
                      Password is required
                  </mat-error>
              </mat-form-field>

              <mat-form-field>
                  <input matInput type="password" placeholder="Password (Confirm)" formControlName="passwordConfirm">
                  <mat-error *ngIf="registerFormErrors.passwordConfirm.required">
                      Password confirmation is required
                  </mat-error>
                  <mat-error *ngIf="registerFormErrors.passwordConfirm.passwordsNotMatch">
                      Passwords must match
                  </mat-error>
              </mat-form-field>


              <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                      [disabled]="registerForm.invalid">
                  CREATE AN ACCOUNT
              </button>

          </form>

          <div class="register" fxLayout="column" fxLayoutAlign="center center">
              <span class="text">Already have an account?</span>
              <a class="link" [routerLink]="'/associate/login'">Login</a>
          </div>

      </div>

  </div>

</div>