@import "src/@fuse/scss/fuse";

body {

    &.fuse-sidebar-folded {

        .content-wrapper {

            &:last-child {
                padding-left: 64px !important;
            }

            &:first-child {
                padding-right: 64px !important;
            }

            &:first-child:last-child {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

        }
    }
}

fuse-sidebar {

    &.folded:not(.unfolded) {

        .navbar-vertical {

            .navbar-header {
                padding: 0 13px;

                .logo {

                    .logo-text {
                        opacity: 0;
                        transition: opacity 200ms ease;
                    }
                }
            }
        }
    }
}

fuse-navbar {

    &:not(.top-navbar) {
        height: 100%;
    }

    .navbar-vertical {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .navbar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            min-height: 64px;
            padding: 0 16px 0 24px;
            transition: padding 200ms ease;
            background-color: rgba(255, 255, 255, .05);
            // @include mat-elevation(1);

            .logo {
                display: flex;
                align-items: center;
                font-family: Nunito;

                .logo-icon {
                    width: 38px;
                    height: 38px;
                }

                .logo-text {
                    margin-left: 8px;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                }
            }
        }

        .navbar-content {
            flex: 1;
        }
    }
}

.top-navbar + #wrapper {

    & > .left-navbar {
        display: none !important;

        @include media-breakpoint-down(md) {
            display: flex !important;
        }
    }
}

