<!-- BOARDS -->
<div id="boards" class="mat-primary-400-bg" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

  <div class="header pt-44 pt-mat-88" fxFlex="0 0 auto">
      <h1>Select your location</h1>
  </div>

  <!-- BOARD LIST -->
  <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center" *fuseIfOnDom>

      <!-- BOARD -->
      <div class="board-list-item" *ngFor="let board of boards"
           [routerLink]="'/company/locations/'+board.locationId"
           fxLayout="column" fxLayoutAlign="center center"
           [@animate]="{value:'*',params:{y:'100%'}}">
          <mat-icon class="s-64">assessment</mat-icon>
          <div class="board-name">{{board.locationName}}</div>
      </div>
      <!-- / BOARD -->

      <!-- NEW BOARD BUTTON -->
      <!-- <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center"
           (click)="newBoard()"
           [@animate]="{value:'*',params:{y:'100%'}}">
          <mat-icon class="s-64">add_circle</mat-icon>
          <div class="board-name">Add new board</div>
      </div> -->
      <!-- / NEW BOARD BUTTON -->

  </div>
  <!-- / BOARD LIST -->
</div>
<!-- / BOARDS -->
