<div *ngIf="!todo" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-icon class="s-120 mb-12 select-todo-icon hint-text" *fuseIfOnDom
              [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">schedule
    </mat-icon>
    <span class="hint-text mat-h1 select-todo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'400ms'}}">
        Select an appointment
    </span>
</div>

<div *ngIf="todo">
    <div class="todo-content">
        
        <form [formGroup]="todoForm" (submit)="addTodo()">

            <mat-form-field class="title mt-8" floatLabel="never" fxFill>
                <input matInput
                          #titleInput
                          name="title"
                          formControlName="title"
                          placeholder="Search by name, email, or phone number"
                          required
                          [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions" [value]="option" >
                                  {{ option.patronName }}
                                </mat-option>
                              </mat-autocomplete>
            </mat-form-field>

            <div class="tags mb-24" fxFlexFill fxLayout="row wrap">
                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of todo.tags">
                <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>

                    <div class="tag-label">{{tags | getById:tagId:'Title'}}</div>
                </div>
            </div>

            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field fxFlex>
                        <mat-select placeholder="Select a location" formControlName="locationId" (selectionChange)="onLocationChange($event.value)" required>
                            <mat-option *ngFor="let location of locations" [value]="location.locationId" >
                                {{ location.locationName }}
                              </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                            <mat-select placeholder="Select a doctor" formControlName="associateId" (selectionChange)="onAssociateChange($event.value)" required>
                                <mat-option *ngFor="let associate of associates" [value]="associate.associateId" >
                                    {{ associate.associateName }}
                                  </mat-option>
                            </mat-select>
                          </mat-form-field>
            </div>
            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field class="mr-sm-24" fxFlex>
                    <input matInput formControlName="startDate" [matDatepicker]="startDatePicker" placeholder="Appointment Date"
                    (dateChange)="populateSchedules($event)" required>
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker" required></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker required></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-select placeholder="Select a schedule" formControlName="scheduleId" required>
                        <mat-option *ngFor="let schedule of availableSchedules" [value]="schedule.scheduleId">
                            {{ schedule.startTime }} - {{ schedule.endTime }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field class="" fxFill>
                <textarea matInput #notes
                          name="notes"
                          formControlName="notes"
                          placeholder="Notes"
                          maxlength="500">
                </textarea>
                <mat-hint align="end">{{notes.value.length}} / 500</mat-hint>
            </mat-form-field>

            <button mat-raised-button class="mat-accent"
                    [disabled]="todoForm.invalid">SAVE
            </button>
        </form>

    </div>
</div>
